<h2>Список категорий</h2>
<?php //debug($cats); ?>
<ul>
<?php foreach($cats as $cat) : ?>
    <li><a href="/category/view/<?php echo $cat['Category']['id']; ?>"><?php echo $cat['Category']['title']; ?></a></li>
<?php endforeach; ?>
</ul>


<ul>
<?php foreach($posts as $pos) : ?>
    <li><a href="/category/view/<?php echo $pos['Post']['id']; ?>"><?php echo $pos['Post']['title']; ?></a></li>
<?php endforeach; ?>
</ul>